{% extends 'base.html' %}
{% block content %}
<div class="card p-4 shadow-sm col-md-6 mx-auto mt-4">
    <h3 class="text-center mb-4">ገንዘብ ማስቀመጫ ፎርም</h3>
    <div class="alert alert-info py-3 px-4">
        <h5 class="alert-heading fw-bold mb-3">የመክፈያ የንግድ ባንክ መረጃ፦</h5>
        <strong>የባንክ ስም፦</strong> የኢትዮጵያ ንግድ ባንክ (CBE)<br>
        <strong>የአካውንት ቁጥር፦</strong> <span class="fw-bold text-primary fs-5">1000251815155</span><br>
        <strong>የአካውንት ስም፦</strong> ገዳሙ አያና (Gedamu Ayana)
    </div>

    <form method="POST" enctype="multipart/form-data" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label fw-bold">የገንዘብ መጠን (ብር)</label>
            <input type="number" name="amount" class="form-control form-control-lg" value="1000" readonly>
        </div>
        <div class="mb-3">
            <label class="form-label fw-bold">የባንክ ደረሰኝ ስክሪንሾት (Screenshot)</label>
            <input type="file" name="screenshot" class="form-control" accept="image/*" required>
        </div>
        <button type="submit" class="btn btn-success btn-lg w-100 mt-3">የክፍያ ደረሰኝ ላክ</button>
    </form>
    <div class="text-center mt-3">
        <a href="{% url 'dashboard' %}" class="btn btn-link">ወደ ዴሽቦርድ ተመለስ</a>
    </div>
</div>
{% endblock %}